#title{
    font-family: 'Dancing Script', cursive;
}

.sub-title{
 
font-family: 'Oswald', sans-serif;
}

h1{
font-family: 'Oswald', sans-serif;
}

.subTitle{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;

}