body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    font-family: 'Dancing Script', cursive;
}

.sub-title{
 
font-family: 'Oswald', sans-serif;
}

h1{
font-family: 'Oswald', sans-serif;
}

.subTitle{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;

}
#print {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: .8rem;
}
#instructions-div {
    color: grey;
}
section {
    font-family: 'Varela Round', sans-serif;
}
#bio-div {
    font-family: 'Roboto Slab', serif;
    color: grey;
}

#bio-div>p {
    font-size: 14px;
}
#cp-image{
    width: 600px;
}

#ingredients {
    background-image: url(../assets/list-bg.png);
    background-size: contain;
    background-repeat: no-repeat;

}

main {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 600px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

#icon-div {
    align-items: flex-end;
}
