body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.sub-title{
 
font-family: 'Oswald', sans-serif;
}

h1{
font-family: 'Oswald', sans-serif;
}

.subTitle{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;

}
#print {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: .8rem;
}
#instructions-div {
    color: grey;
}
section {
    font-family: 'Varela Round', sans-serif;
}
#bio-div {
    font-family: 'Roboto Slab', serif;
    color: grey;
    display: flex;
    align-items: center;
    width: 600px;
    
}

#bio-div>p {
    font-size: 14px;
}
#bio-div>img {
    width: 50px;
    height: 50px;
}
#cp-image{
    width: 600px;
}

#ingredients {
    background-image: url(../assets/list-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 600px;
    height: 200px;
    padding: 10px;
    justify-content: center;
    padding-top: 20px;

}

main {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 600px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

#icon-div {
    align-items: flex-end;
}

footer {
    display: flex;
    flex-direction: column;
    width: 600px;
    
    align-items: center;
    
}
#footer-div{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: .8rem;
    color: rgb(163, 163, 163);
}

button {
    background-color: rgb(172, 92, 0);
    color: white;
    width: 130px;
    height: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}